@use 'sass:math';

html, body {
  height: 100%;
  overflow: auto;
}

.night {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
  min-width: 100vw;
  overflow: hidden;
}

.rotate {
  // Rotation handled in inline styles now
}

.no-rotate {
  transform: rotateZ(-45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 3px;
  width: 0;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 8px rgba(105, 155, 255, 1));
  
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1.5px);
    right: 0;
    height: 3px;
    width: 3px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(95, 145, 255, 1);
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    width: 40px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 0.8), rgba(255, 255, 255, 1));
    transform: translateX(50%);
    border-radius: 999px;
  }
}

.datePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black !important;
}