a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* NavMenu.css */

/* Light mode button styles */
.light-mode-button {
  display: flex;
  align-items: center;
  background-color: #fff; /* Background color for light mode button */
  color: #000; /* Text color for light mode button */
  border: none; /* Border color for light mode button */
  padding: 8px 16px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition */

  /* Optional: Add hover styles */
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* Sun icon styles */
.light-mode-icon {
  width: 24px; /* Adjust icon size as needed */
  height: 24px;
  margin-right: 8px; /* Adjust spacing between icon and text */
}

