.full-width-layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Optional: Hide horizontal scrollbar if it appears */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.light-mode {
    background-color: #fff; /* Set your light mode background color */
    color: #333; /* Set your light mode text color */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #333; /* Set your dark mode background color */
    color: #fff; /* Set your dark mode text color */
  }